body {
    width: 1000px;
    margin: 50px auto;

}
#picturesHere {
    display: flex;
    justify-content: space-around;

}

#picturesHere img {
    width: 300px;
}

#bigImg img {
    width: 1000px;
}

p {
    font-size: 18px;
    text-align: center;
    color: blue;
}